<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net47" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net47" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net47" />
  <package id="Flurl" version="2.8.2" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net47" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.9.1" targetFramework="net47" />
  <package id="MetaLinq" version="1.0.11" targetFramework="net451" />
  <package id="MetaLinqStandard" version="1.0.11" targetFramework="net47" />
  <package id="Moq" version="4.7.25" targetFramework="net451" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net47" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NodaTime" version="2.4.7" targetFramework="net47" />
  <package id="NUnit" version="3.12.0" targetFramework="net47" />
  <package id="NUnitTestAdapter" version="2.2.0" targetFramework="net47" />
  <package id="protobuf-net" version="2.4.4" targetFramework="net47" />
  <package id="QDMSClient" version="0.10.2" targetFramework="net47" />
  <package id="QLNet" version="1.11.4" targetFramework="net47" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net47" />
</packages>